@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Rubik, sans-serif;
}

@mixin font {
  font-family: Rubik, sans-serif;
}

@mixin box-shadow-red {
  box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -webkit-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -moz-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
}

@mixin box-shadow-gray {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 120px;

  &-nav {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    align-items: center;

    a {
      text-decoration: none;
      color: #4f5665;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    gap: 30px;

    &-def {
      border: none;
      background-color: white;
      font-size: 16px;
      font-weight: 500;
      @include font;
    }

    &-red {
      border-radius: 50px;
      border: 1px solid #f53855;
      background-color: white;
      font-size: 16px;
      font-weight: 500;
      color: #f53855;
      width: 150px;
      height: 45px;
      @include font;
    }
  }
}

main {
  margin-left: 150px;
}

.vpn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-info {
    &-title {
      font-size: 50px;
      line-height: 140%;
      font-weight: 500;
      color: #0b132a;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #4f5665;
    }

    .start {
      border: none;
      border-radius: 10px;
      width: 250px;
      height: 60px;
      background-color: #f53838;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 156%;
      @include font;
      @include box-shadow-red;
    }
  }

  img {
    margin-right: 83px;
  }
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 103px;
  justify-items: center;
  margin-right: 150px;
  border-radius: 10px;
  height: 200px;
  padding-top: 37px;
  box-sizing: border-box;
  @include box-shadow-gray;
  @include font;

  &-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36.5px;
    height: 125px;
    width: 365.5px;

    &-img {
      width: 55px;
    }

    &-p {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #4f5665;
    }
  }

  .b-r {
    border-right: 3px solid #eeeff2;
  }

  .bold {
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    color: #0b132a;
  }
}

.features {
  display: flex;
  gap: 170px;
  margin-top: 96px;

  &-info {
    &-title {
      font-weight: 500;
      font-size: 35px;
      line-height: 143%;
      color: #0b132a;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #4f5665;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: #4f5665;

        &::before {
          content: url(assets/Group\ 1120.svg);
          vertical-align: top;
          margin-right: 10px;
        }
      }
    }
  }
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
  margin-right: 150px;

  &-title {
    margin-top: 211px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 35px;
    line-height: 143%;
    color: #0b132a;
    text-align: center;
  }

  &-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #4f5665;
    text-align: center;
    margin-bottom: 60px;
  }

  .grid-plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    .b-red {
      border: 2px solid #f53838;
    }

    &-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border: 2px solid #ddd;
      border-radius: 10px;
      width: 330px;
      height: 760px;
      background-color: #fff;

      .btn-inactive {
        border: 2px solid #f53838;
        border-radius: 50px;
        width: 177px;
        height: 45px;
        background-color: #fff;
        color: #f53838;
        font-weight: 700;
        font-size: 16px;
        @include font;
      }

      .btn-active {
        border: 2px solid #f53838;
        border-radius: 50px;
        width: 177px;
        height: 45px;
        background-color: #f53838;
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        @include font;
      }

      .bold-price {
        font-weight: 500;
        font-size: 25px;
        line-height: 120%;
        text-align: center;
        color: #0b132a;
        margin-bottom: 20px;
      }

      .price {
        font-weight: 400;
        color: #4f5665;
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
      }

      .free-plan {
        width: 144px;
        margin-top: 80px;
      }

      .plan-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        color: #0b132a;
      }

      ul {
        
        list-style-type: none;
        padding: 0;
      }

      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: #4f5665;

        &::before {
          content: url(assets/Group\ 1223.svg);
          vertical-align: top;
          margin-right: 20px;
        }
      }
    }
  }
}
