@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Rubik, sans-serif;
}

@mixin font {
  font-family: Rubik, sans-serif;
}

@mixin p($fw, $fs, $lh, $fc) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $fc;
  
}

@mixin h1($fw, $fs, $lh, $fc) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $fc;
}

@mixin box-shadow-red {
  box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -webkit-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -moz-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
}

@mixin box-shadow-gray {
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05),
    0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03),
    0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 120px;

  &-nav {
    display: flex;
    gap: 40px;
    @include p(400, 16px, 0, none);
    align-items: center;

    a {
      text-decoration: none;
      color: #4f5665;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    gap: 30px;

    &-def {
      border: none;
      background-color: white;
      @include p(500, 16px, 0, #0b132a);
      @include font;
    }

    &-red {
      border-radius: 50px;
      border: 1px solid #f53855;
      background-color: white;
      
      width: 150px;
      height: 45px;
      @include font;
      @include p(500, 16px, 0, #f53855)
    }
  }
}

main {
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}

.vpn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-info {
    &-title {
      @include h1(500, 50px, 140%, #0b132a)
    }

    &-subtitle {
      @include p(400, 16px, 187%, #4f5665)
    }

    .start {
      border: none;
      border-radius: 10px;
      width: 250px;
      height: 60px;
      background-color: #f53838;
      @include font;
      @include box-shadow-red;
      @include p(700, 16px, 156%, #fff)
    }
  }
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 103px;
  justify-items: center;
  border-radius: 10px;
  height: 200px;
  padding-top: 37px;
  box-sizing: border-box;
  @include box-shadow-gray;
  @include font;

  &-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36.5px;
    height: 125px;
    width: 365.5px;

    &-img {
      width: 55px;
    }

    &-p {
      @include p(400, 20px, 150%, #4f5665)
    }
  }

  .b-r {
    border-right: 3px solid #eeeff2;
  }

  .bold {
    @include p(700, 25px, 120%, #0b132a)
  }
}

.features {
  display: flex;
  gap: 170px;
  margin-top: 96px;

  &-info {
    &-title {
      @include h1(500, 35px, 143%, #0b132a)
    }

    &-subtitle {
      @include p(400, 16px, 187%, #4f5665)
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        @include p(400, 14px, 214%, #4f5665);

        &::before {
          content: url(assets/Group\ 1120.svg);
          vertical-align: top;
          margin-right: 10px;
        }
      }
    }
  }
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);

  &-title {
    margin-top: 211px;
    margin-bottom: 20px;
    @include h1(500, 35px, 143%, #0b132a);
    text-align: center;
  }

  &-subtitle {
    @include p(400, 16px, 187%, #4f5665);
    text-align: center;
    margin-bottom: 60px;
  }

  .grid-plan {
    display: flex;
    gap: 50px;

    .b-red {
      border: 2px solid #f53838;
    }

    &-price {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #ddd;
      border-radius: 10px;
      width: 330px;
      background-color: #fff;

      .btn-inactive {
        border: 2px solid #f53838;
        border-radius: 50px;
        width: 177px;
        height: 45px;
        background-color: #fff;
        @include p(700, 16px, 0, #f53838);
        @include font;
        margin-bottom: 50px;
      }

      .btn-active {
        border: 2px solid #f53838;
        border-radius: 50px;
        width: 177px;
        height: 45px;
        background-color: #f53838;
        @include p(700, 16px, 0, #fff);
        @include font;
        margin-bottom: 50px;
        @include box-shadow-red;
      }

      .bold-price {
        @include p(500, 25px, 120%, #0b132a);
        text-align: center;
        margin-bottom: 20px;
      }

      .price {
        @include p(400, 25px, 0, #4f5665);
        text-align: center;
        margin-bottom: 20px;
      }

      .free-plan {
        width: 144px;
        margin-top: 80px;
      }

      .plan-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        text-align: center;
        color: #0b132a;
        margin: 30px 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 214%;
        color: #4f5665;

        &::before {
          content: url(assets/Group\ 1223.svg);
          vertical-align: top;
          margin-right: 20px;
        }
      }
    }
  }
}

.map {
  margin-top: 150px;

  &-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 143%;
    text-align: center;
    color: #0b132a;
  }

  &-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #4f5665;

    &-bold {
      font-weight: 500;
    }
  }

  &-global {
    margin-top: 156px;
    width: 1060px;
    height: 537.77px;
    transform: translate(4%);
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    margin-top: 50px;
    font-weight: 500;
    font-size: 35px;
    line-height: 143%;
    text-align: center;
    color: #0b132a;
  }

  &-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #4f5665;
  }

  &-section {
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 340px;
    padding: 30px;

    &-rate {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #0b132a;
    }

    &-character {
      display: flex;
      justify-content: space-between;

      &-header {
        display: flex;
        gap: 20px;
      }

      &-rate {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .name {
      font-weight: 500;
      font-size: 18px;
      line-height: 167%;
      text-align: center;
      color: #0b132a;
    }

    .location {
      font-weight: 400;
      font-size: 14px;
      line-height: 214%;
      text-align: center;
      color: #4f5665;
    }
  }
}

.users-feedback {
  display: flex;
  gap: 50px;

  .b-red {
    border: 2px solid #f53838;
  }
}

.footer {
  background: #f8f8f8;
  height: 563px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 302px;

  &-info {
    &-title {
      font-size: 16px;
      line-height: 187%;
      color: #4f5665;
      font-weight: 400;
    }

    .bold {
      font-size: 16px;
      line-height: 187%;
      color: #4f5665;
      font-weight: 500;
    }

    &-year {
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #afb5c0;
    }
  }

  &-social {
    display: flex;
    gap: 20px;

    &-media {
      border: none;
      background-color: #f8f8f8;
      padding: 0;
      width: 43px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
    }
  }

  &-nav {
    display: flex;
    gap: 125px;

    &-product {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      line-height: 187%;
      color: #4f5665;

      &-bold {
        font-weight: 500;
        font-size: 18px;
        line-height: 167%;
        color: #0b132a;
      }

      p {
        margin: 10px 0;
      }
    }
  }
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  @include box-shadow-gray;
  height: 233px;
  position: absolute;
  bottom: -3510px;
  width: 1140px;
  margin: 0 150px;

  &-btn {
    @include font;
    font-weight: 700;
    font-size: 16px;
    line-height: 156%;
    color: #fff;
    border-radius: 10px;
    background-color: #f53838;
    border: none;
    width: 250px;
    height: 60px;
  }
}
