@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  width: 1440px;
  margin: 0 auto;
  font-family: Rubik, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 120px;
}
.header-nav {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}
.header-nav a {
  text-decoration: none;
  color: #4f5665;
}
.header-btn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-btn-def {
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Rubik, sans-serif;
}
.header-btn-red {
  border-radius: 50px;
  border: 1px solid #f53855;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  color: #f53855;
  width: 150px;
  height: 45px;
  font-family: Rubik, sans-serif;
}

main {
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}

.vpn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vpn-info-title {
  font-size: 50px;
  line-height: 140%;
  font-weight: 500;
  color: #0b132a;
}
.vpn-info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.vpn-info .start {
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  background-color: #f53838;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  font-family: Rubik, sans-serif;
  box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -webkit-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -moz-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 103px;
  justify-items: center;
  border-radius: 10px;
  height: 200px;
  padding-top: 37px;
  box-sizing: border-box;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  font-family: Rubik, sans-serif;
}
.grid-info-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36.5px;
  height: 125px;
  width: 365.5px;
}
.grid-info-stat-img {
  width: 55px;
}
.grid-info-stat-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #4f5665;
}
.grid-info .b-r {
  border-right: 3px solid #eeeff2;
}
.grid-info .bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #0b132a;
}

.features {
  display: flex;
  gap: 170px;
  margin-top: 96px;
}
.features-info-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
}
.features-info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.features-info ul {
  list-style-type: none;
  padding: 0;
}
.features-info ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
}
.features-info ul li::before {
  content: url(assets/Group\ 1120.svg);
  vertical-align: top;
  margin-right: 10px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%);
}
.plan-title {
  margin-top: 211px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  text-align: center;
}
.plan-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  text-align: center;
  margin-bottom: 60px;
}
.plan .grid-plan {
  display: flex;
  gap: 50px;
}
.plan .grid-plan .b-red {
  border: 2px solid #f53838;
}
.plan .grid-plan-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 330px;
  height: 760px;
  background-color: #fff;
}
.plan .grid-plan-price .btn-inactive {
  border: 2px solid #f53838;
  border-radius: 50px;
  width: 177px;
  height: 45px;
  background-color: #fff;
  color: #f53838;
  font-weight: 700;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  margin-bottom: 50px;
}
.plan .grid-plan-price .btn-active {
  border: 2px solid #f53838;
  border-radius: 50px;
  width: 177px;
  height: 45px;
  background-color: #f53838;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: Rubik, sans-serif;
  margin-bottom: 50px;
  box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -webkit-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
  -moz-box-shadow: 0px 32px 54px 4px rgba(245, 56, 56, 0.35);
}
.plan .grid-plan-price .bold-price {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}
.plan .grid-plan-price .price {
  font-weight: 400;
  color: #4f5665;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.plan .grid-plan-price .free-plan {
  width: 144px;
  margin-top: 80px;
}
.plan .grid-plan-price .plan-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #0b132a;
}
.plan .grid-plan-price ul {
  list-style-type: none;
  padding: 0;
}
.plan .grid-plan-price li {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #4f5665;
}
.plan .grid-plan-price li::before {
  content: url(assets/Group\ 1223.svg);
  vertical-align: top;
  margin-right: 20px;
}

.map {
  margin-top: 150px;
}
.map-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #0b132a;
}
.map-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #4f5665;
}
.map-subtitle-bold {
  font-weight: 500;
}
.map-global {
  margin-top: 156px;
  width: 1060px;
  height: 537.77px;
  transform: translate(4%);
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-title {
  margin-top: 50px;
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #0b132a;
}
.feedback-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #4f5665;
}
.feedback-section {
  display: flex;
  flex-direction: column;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 340px;
  padding: 30px;
}
.feedback-section-rate {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #0b132a;
}
.feedback-section-character {
  display: flex;
  justify-content: space-between;
}
.feedback-section-character-header {
  display: flex;
  gap: 20px;
}
.feedback-section-character-rate {
  display: flex;
  gap: 10px;
  align-items: center;
}
.feedback-section .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #0b132a;
}
.feedback-section .location {
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  text-align: center;
  color: #4f5665;
}

.users-feedback {
  display: flex;
  gap: 50px;
}
.users-feedback .b-red {
  border: 2px solid #f53838;
}

.footer {
  background: #f8f8f8;
  height: 563px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-top: 302px;
}
.footer-info-title {
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  font-weight: 400;
}
.footer-info .bold {
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  font-weight: 500;
}
.footer-info-year {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #afb5c0;
}
.footer-social {
  display: flex;
  gap: 20px;
}
.footer-social-media {
  border: none;
  background-color: #f8f8f8;
  padding: 0;
  width: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.footer-nav {
  display: flex;
  gap: 125px;
}
.footer-nav-product {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
}
.footer-nav-product-bold {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  color: #0b132a;
}
.footer-nav-product p {
  margin: 10px 0;
}

.subscribe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.05), 0 25px 25px 0 rgba(0, 0, 0, 0.04), 0 56px 34px 0 rgba(0, 0, 0, 0.03), 0 100px 40px 0 rgba(0, 0, 0, 0.01), 0 157px 44px 0 rgba(0, 0, 0, 0);
  height: 233px;
  position: absolute;
  bottom: -3510px;
  width: 1140px;
  margin: 0 150px;
}
.subscribe-btn {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
  border-radius: 10px;
  background-color: #f53838;
  border: none;
  width: 250px;
  height: 60px;
}/*# sourceMappingURL=style.css.map */